#background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://nxcache.nexon.net/cms/2019/q4/2860/wallpaper_jazz01_1920x1080.jpg');
}

.clock-container{
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.clock {
  font-size: 2rem;
  font-family: 'Mali', cursive;
}